* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #333;
    font-family: sans-serif;
    text-align: center;
}

main {
    width: 530px;
    height: 530px;
    background-color: #aaa;
    margin: auto;
    margin-top: 40px;
    border-radius: 4px;
}

section {

}

button {
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border: none;
}

button:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

footer {
    margin-top: 20px;
    color: white;
}

footer p {
    /*font-size: 13px;*/
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}